```gitignore
# Dependencies
node_modules/

# Build outputs
dist/
build/
*.js.map
*.ts.map

# Logs and temp files
*.log
*.tmp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/
htmlcov/
.coverage

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.nox/
*.coverage
*.cache
.pytest_cache/
.mypy_cache/
.hypothesis/

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.next/
.nuxt/
.vuepress/dist
.static
# Docusaurus
.website
.craftdocs
.craftos
.craftos-cache

# Compiled
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.out

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Archives
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.zst

# Testing
coverage/
*.gcov
*.lcov
*.profraw
*.profdata

# Gradle
.gradle/
build/

# Rust
target/

# Go
*.exe
*.dll
*.so
*.dylib

# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

# C/C++
*.i
*.s
*.ii
*.cc
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.stackdump
*.core
*.pid
*.seed
*.prof
*.gcda
*.gcno
*.gcov
*.dynstr
*.dynsym
*.crt
*.ilk
*.pdb
*.pgc
*.pgd
*.tlog
*.tpf
*.trn
*.trc
*.res
*.map
*.exp
*.lib
*.sln
*.vcxproj
*.vcproj
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
*.aps
*.ncb
*.opt
*.plg
*.vcp
*.mdp
*.dep
*.clw
*.cvsignore
*.sbr
*.bsc
*.aps
*.pch
*.ilk
*.tmp
*.obj
*.ncb
*.opt
*.plg
*.vcp
*.mdp
*.dep
*.clw
*.cvsignore
*.sbr
*.bsc
*.aps
*.pch
*.ilk
*.tmp
*.obj
*.ncb
*.opt
*.plg
*.vcp
*.mdp
*.dep
*.clw
*.cvsignore
*.sbr
*.bsc
*.aps
*.pch
*.ilk
*.tmp
*.obj

# Ruby
*.gem
*.rbc
.rake_opts
pkg/
*.bundle
.bundle
vendor/bundle
Gemfile.lock
.rspec
Guardfile
.rubocop.yml
.rubocop_todo.yml
.rbenv-gemsets
.rbenv-vars
.rbenv-version
.bundle/
.rbenv-default-gems
.rbenv-gemset
.rbenv-gemsets.d
.rbenv-hooks
.rbenv-origins
.rbenv-rehash
.rbenv-shims
.rbenv-versions
.rbenv-version-file
.rbenv-vendors
.rbenv-whence
.rbenv.d
.rbenv.d/exec
.rbenv.d/shell
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash
.rbenv.d/version
.rbenv.d/gemset
.rbenv.d/gemsets
.rbenv.d/default-gems
.rbenv.d/hooks
.rbenv.d/origins
.rbenv.d/rehash......
```